#!version:1.0.0.1
## Kuvryn Hello: {{.Phone.Model}} {{.Phone.MAC}}{{with .Phone.Label}} ({{.}}){{end}}
account.1.enable = 1
account.1.label = {{.Line.Label}}
account.1.display_name = {{.Line.DisplayName}}
account.1.auth_name = {{.Line.AuthName}}
account.1.user_name = {{.Line.Username}}
account.1.password = {{.Line.Password}}
account.1.sip_server.1.address = {{.Server.Host}}
account.1.sip_server.1.port = {{.Server.Port}}
account.1.sip_server.1.transport_type = 0
account.1.sip_server.1.expires = {{.Server.Expiry}}
{{- with .Line.VoicemailCode}}
voice_mail.number.1 = {{.}}
{{- end}}
{{- range $i, $k := .BLF}}
linekey.{{add $i 2}}.type = 16
linekey.{{add $i 2}}.line = 1
linekey.{{add $i 2}}.value = {{$k.Number}}
linekey.{{add $i 2}}.label = {{$k.Label}}
{{- end}}
static.security.user_password = admin:{{.Phone.AdminPassword}}
static.trusted_certificates.url = {{.Prov.CAURL}}
static.security.trust_certificates = 1
static.auto_provision.server.url = {{.Prov.URL}}
static.auto_provision.dhcp_option.enable = 0
static.auto_provision.repeat.enable = 1
static.auto_provision.repeat.minutes = {{div .Prov.ResyncSeconds 60}}
local_time.ntp_server1 = {{.Time.NTP}}
local_time.time_zone_name = {{.Time.Zone}}
{{- with .Firmware}}
static.firmware.url = {{.URL}}
{{- end}}
